html, body {
    background-color: #e0e0e0;
}

.booking-form-info-container {
    display: flex;
    flex-direction: row;
    margin: auto 2%;
    border: 1px solid black;
}

.hotel-img-container {
    margin: 1% auto;
}

.hotel-img {
    width: 500px;
    height: 500px;
}

.image-directions-container {
    margin: auto;
}

.carousel-control-prev {
    margin-left: -20%;
}

.carousel-control-next {
    margin-right: -20%;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rosybrown' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    position: relative;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rosybrown' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    position: relative;
}

.booking-form-container {
    width: 30%;
    border-left: 1px solid black;
    padding: 2%;
}

.booking-form-items {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10%;
    padding: 10px;
}

.booking-form-items label, input {
    margin: 5px;
    width: 100%;
    text-align: center;
    padding: 5px;
    text-align:left;
}

.form-submit-container {
    margin-top: 30%;
    font-size: medium;
    text-align: center;
}

.hotel-info {
    margin: 0% 2%;
}

.hotel-info-item {
    padding: 10px;
}

.hotel-info-item-title {
    font-family: 'Protest Riot', sans-serif;
}

.hotel-rating-title-container {
    margin-bottom: 10px;
}

.hotel-description-title-container {
    margin-bottom: 10px;
}

.checked-star {
    color: orange;
}

.unchecked-star {
    color: orange;
}
