html, body {
    background-color: #e0e0e0;
}

.booking-form-info-container {
    display: flex;
    flex-direction: row;
    margin: auto 2%;
    border: 1px solid black;
}

.hotel-img-container {
    margin: 1% auto;
}

.hotel-img {
    width: 100%;
    height: 500px;
}

.booking-form-container {
    width: 30%;
    border-left: 1px solid black;
    padding: 2%;
}

.booking-form-items {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10%;
    padding: 10px;
}

.booking-form-items label, input {
    margin: 5px;
    width: 100%;
    text-align: center;
    padding: 5px;
    text-align:left;
}

.form-submit-container {
    margin-top: 30%;
    font-size: medium;
    text-align: center;
}

.hotel-info {
    margin: 0% 2%;
}

.hotel-info-item {
    padding: 10px;
}

.hotel-info-item-title {
    font-family: 'Protest Riot', sans-serif;
}

.hotel-rating-title-container {
    margin-bottom: 10px;
}

.hotel-description-title-container {
    margin-bottom: 10px;
}
