html, body {
    background-color: #e0e0e0;
}

form {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
}

.hotel-details img {
    height: 500px;
    width: 500px;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}

.hotel-info {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1%;
    margin-bottom: 2%;
}
