html, body {
    background-color: #e0e0e0;
}

.city-search-form {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}

#city {
    position: relative;
    left: 36%;
    top: 50%;
    border: 1px transparent;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 12px;
    font-size: 16px;
    width: 28%;
}

.img-carousel {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.img-carousel-item {
    margin: auto;
    height: 150px;
    width: 150px;
    padding: 4%;
    border-radius: 25%;
}

.view-more-link {
    left: 50%;
    text-align: center;
}
