html, body {
    background-color: #e0e0e0;
}

.city-search-form {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}

#city {
    position: relative;
    left: 36%;
    top: 50%;
    border: 1px transparent;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 12px;
    font-size: 16px;
    width: 28%;
    outline: none;
}

.img-carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3% 8% 3% 11%;
}

.img-carousel-item {
    flex-basis: 25%;
    position: relative;
    left: 4%;
}


.img-carousel-img-container {
    height: 150px;
    width: 150px;
    border-radius: 25%;
    opacity: 1;
    display: block;
    backface-visibility: hidden;
    background-color: black;
}

.img-carousel-img {
    height: 150px;
    width: 150px;
    border-radius: 25%;
    box-shadow: 10px 10px 10px gray;
}

.img-carousel-item:hover .img-carousel-img {
    opacity: 0.3;
}

.city-name-container {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.img-carousel-item:hover .city-name-container {
    opacity: 1;
}

.city-name {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.view-more-link {
    text-align: center;
}
