html, body {
    background-color: #e0e0e0;
}

.hotel-detail {
    margin: 5%;
    background: lightgrey;
    height: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hotel-img {
    flex-basis: 30%;
    height: 200px;
    width: 250px;
}

.hotel-info {
    flex-basis: 50%;
    padding: 0px 0px 0px 20px;
}

.hotel-city-container {
    margin-top: 15px;
}

.views-list-container {
    display: flex;
}

.views-list {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.views-list-item {
    margin: 0 20px;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

#list-view {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-view-item {
    flex-basis: 50%;
    height: 238px;
}

#map-view {
    display: none;
}

.selected {
    background-color: blue;
}