html, body {
    background-color: #e0e0e0;
}

.hotel-detail {
    margin: 5%;
    background: rgb(132, 136, 139);
    height: 85%;
}

.hotel-detail img {
    height: 200px;
    width: 250px;
}

.views-list-container {
    display: flex;
    margin-bottom: 2%;
}

.views-list {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 42%;
}

.views-list-item {
    margin: 0 20px;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

#list-view {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-view-item {
    flex-basis: 50%;
}

#map-view {
    display: none;
}
