html, body {
    margin: 0;
    height: 100%;
    background-color: #e0e0e0;
    font-family: 'Ubuntu',sans-serif;
}

.loader {
    height: 70px;
    width: 70px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;

    border-radius: 50%;
    border: 12px solid #f3f3f3;
    border-top: 12px solid #444444;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
