html, body {
    background-color: #e0e0e0;
}

.hotel-description {
    background: rgb(132,136,139);
    height: 20%;
    width: 50%;
    margin: 10% auto 2% auto;
    display: flex;
}

.hotel-description-img {
    max-height: 300px;
    max-width: 270px;
}

.hotel-info {
    margin: auto 2%;
}

.hotel-info-item {
    margin: 5%;
}

.booking-details {
    background-color: rosybrown;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0% 1% 0% 1%;
    border: 1px solid black;
}

.booking-details-item {
    flex-basis: 20%;
    padding: 1%;
    margin: auto auto auto 9%;
}

.booking-details-item-row {
    padding: 2%;
}

.booking-info-title {
    font-family: 'Protest Riot', sans-serif;
}
